<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Guest Book</title>
	<!-- As a heading -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Your Company Logo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="#">Features</a>
				<a class="nav-item nav-link" href="#">Pricing</a>
				<a class="nav-item nav-link" href="#">About Us</a>
			</div>
			<div class="navbar-nav float-right">
				<button class="btn btn-outline-primary my-2 my-sm-0" type="button">Sign In</button>
			</div>
		</div>
	</nav>
</head>

<body>
	<div class="container">
		<h4>Silahkan untuk mengisi data diri :</h4>
		<form method="POST">
			{% csrf_token %}
			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">Nama : </label>
				<div class="col-sm-10">
					<input type="text" name="nama" class="form-control" placeholder="Nama" required />
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">Alamat : </label>
				<div class="col-sm-10">
					<input type="text" name="alamat" class="form-control" placeholder="Alamat" required />
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">E-mail : </label>
				<div class="col-sm-10">
					<input type="email" name="email" class="form-control" placeholder="E-mail" required />
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Input</button>
			<button type="reset" class="btn btn-primary">Clear</button>
		</form>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>